[submodule "obsidian-eagle-plugin"]
	path = obsidian-eagle-plugin
	url = https://github.com/GoBeromsu/obsidian-eagle-plugin.git
[submodule "obsidian-boiler-template"]
	path = obsidian-boiler-template
	url = https://github.com/GoBeromsu/obsidian-boiler-template.git
[submodule "Metadata-Auto-Classifier"]
	path = Metadata-Auto-Classifier
	url = https://github.com/GoBeromsu/Metadata-Auto-Classifier.git
[submodule "obsidian-bible-search"]
	path = obsidian-bible-search
	url = https://github.com/GoBeromsu/obsidian-bible-search.git
[submodule "obsidian-qmd"]
	path = obsidian-qmd
	url = https://github.com/GoBeromsu/obsidian-qmd.git
[submodule "open-connections"]
	path = open-connections
	url = https://github.com/GoBeromsu/open-connections.git
[submodule "youtube-note-playlist"]
	path = youtube-note-playlist
	url = https://github.com/GoBeromsu/obsidian-note-player.git
